@use "./../utils/mixin.scss" as mix;

.aside-desktop {
  display: none;
}

@media only screen and (min-width: 600px) {
  .aside-desktop {
    display: none;
  }
}

@media only screen and (min-width: 1000px) {
  .aside-desktop {
    display: block;
    padding: 8px 12px 20px;
    width: 244px;
    height: 100%;
    border-right: 1px solid #dbdbdb;
    background-color: #fff;
    @include mix.flex(20px, column, left, start);

    .icon-aside-d {
      width: 200px;
      padding: 20px;
    }
  }

  .content-aside-d {
    width: 100%;
    height: 100%;
    @include mix.flex(5px, column, start, start);

    .link-d {
      border-radius: 5px;
      width: 100%;
      padding: 10px;

      a {
        display: flex;
        align-items: center;
        gap: 10px;

        .img-account-user {
          border-radius: 50%;
          width: 24px;
          height: 24px;
          object-fit: cover;
        }
      }

      &:hover {
        background-color: #f0f2f5;
      }
    }
  }

  .deger {
    width: 100%;
    @include mix.flex(20px, column, start, start);

    .link-d {
      border-radius: 5px;
      width: 100%;
      padding: 10px;

      a {
        display: flex;
        align-items: center;
        gap: 10px;
      }

      &:hover {
        background-color: #f0f2f5;
      }
    }
  }
}
