@use "./../utils/mixin.scss" as mix;

.aside-tables {
  display: none;
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 768px) {
  .aside-tables {
    display: block;
    @include mix.flex(0, column, space-between, center);
    padding: 8px 12px 20px;
    width: 5rem;
    height: 100%;
    border-right: 1px solid #dbdbdb;

    .icon-aside-t {
      width: 100%;
      padding: 10px;
      @include mix.flex(0, row, center, center);
      border-radius: 5px;

      &:hover {
        background-color: #dbdbdb;
      }
    }

    .content-aside-t {
      width: 100%;
      height: 100%;
      margin-top: 30px;
      @include mix.flex(0, column, start, center);

      .link-t {
        border-radius: 5px;
        padding: 10px;
        width: 100%;
        @include mix.flex(0, row, center, center);
        background-color: #fff;
        a {
          .img-account-user {
            width: 24px;
            height: 24px;
            border-radius: 50%;
          }
        }

        &:hover {
          background-color: #dbdbdb;
        }
      }
    }

    .deger-t {
      width: 100%;
      @include mix.flex(10px, column, start, center);

      .link-t {
        border-radius: 5px;
        padding: 10px;
        width: 100%;
        @include mix.flex(0, row, center, center);
        background-color: #fff;

        &:hover {
          background-color: #dbdbdb;
        }
      }
    }
  }
}

@media only screen and (min-width: 1000px) {
  .aside-tables {
    display: none;
  }
}
